<!DOCTYPE html>
<html lang="en">
<head>
  <title>KSET's new clock</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Neo the clock</h1>
  <p>Choose what you want to display :)</p>
</div>
  
<div class="container">
<form action="/animation" method="post">
	<p><h5>Choose an animation</h5></p>
        <p><input type="submit" class="btn btn-warning btn-block" name="KSET" value="KSET"></p>
	<p><input type="submit" class="btn btn-warning btn-block" name="Matrix" value="Matrix"></p>
	<p><input type="submit" class="btn btn-warning btn-block" name="Penis" value="Penis"></p>	
      </form>

<form action="/suggestion" method="post">
	<p><h5>Any suggestion for future animations?</h5></p>
        <p><input type="text" class="form-control" id="suggestion" name="suggestion"></p>
	<p><button type="submit" class="btn btn-warning btn-block">Submit</button></p>	
      </form>
</div>

</body>
</html>


